
// Custom Scrollbar Start

/* width */
::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #111;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $clrMain;
	border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: $clrMain;
  }

// Custom Scrollbar End

// Input Apperance
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  -webkit-filter: invert(1);
          filter: invert(1);
}



/* scrollUp */
.scroll-top {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: fixed;
	bottom: 105%;
	right: 30px;
	font-size: 16px;
	border-radius: 50%;
	z-index: 99;
	color: $clrdefault;
	text-align: center;
	cursor: pointer;
	background: $clrMain;
	transition: 1s ease;
	border: none;
	opacity: 0;
}
.scroll-top.open {
	bottom: 30px;
	opacity: 1;
}
.scroll-top::after {
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
.scroll-top:hover {
	background: $clrheading;
}
// Scroll Up Css


// Modal Start
.modal {
    background: rgba(0, 0, 0, 0.7);
    .modal-content {
        border: none;
        background: none;

        .modal-header {
            border: none;
            padding: 0;

            .btn-close {
                background: $clrMain;
                color: $clrdefault;
                font-size: 18px;
                position: absolute;
                right: -10px;
                z-index: 99;
                top: -10px;
                margin: 0;
                padding: 0;
                opacity: 1;
                height: 35px;
                width: 35px;
                display: inline-block;
                border-radius: 50%;
            }
        }
        .modal-body {
            padding: 0px;
        }
    }
}

// Modal End
