@import "mediaQuery";



@mixin section-title {
    .section-title {
        margin-bottom: 40px;

        h2 {
            color: $clrdefault;
            text-transform: uppercase;
            position: relative;
            display: block;
            margin-bottom: 15px;

            span {
                color: $clrMain;
            }
        }
        .line img {
            width: auto;
            display: block;
            height: auto;
        }
        p {
            max-width: 540px;
            margin: 10px auto 0px;
        }
    }    
}


@mixin banner-size {
    position: relative;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

@mixin banner-bg {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1; 
}

@mixin transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin slick-slide {
    .slick-arrow {
        position: absolute;
        color: #fff;
        font-size: 16px;
        top: 50%;
        left: -70px;
        transform: translateY(-50%);
        // bottom: 50px;
        // right: 100px;
        cursor: pointer;
        z-index: 99;
        height: 40px;
        width: 40px;
        @include flex-box;
        transition: $transition;
    
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transform: skewX(-16deg);
            z-index: -1;
            opacity: 1;
            background-image: none;
            bottom: 0;
            border-radius: 0;
            border-radius: 3px;
            left: auto;
            background-color: $clrMain;
            transition: $transition;
        }
    
        &.fa-arrow-right {
            right: -70px;
            left: auto;
            
        }
    }
}


@mixin video-box {
    .round {
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            // border-radius: 3px;
            // background-color: rgba(0, 0, 0, 0.5);
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
        .video-box {
            margin: 0;
            .video-btn {
                i {
                    position: relative;
                    z-index: 1;
                    top: 0px;
                    left: 0px;
                    font-size: 20px;
                    color: $clrdefault;
                }
                @include transform;
                background-color: $clrMain;
                border-radius: 50%;
                color: #1086ff;
                display: block;
                text-align: center;
                line-height: 85px;
                margin: 0 auto;
                height: 80px;
                width: 80px;
                z-index: 1;

                @include respond (phone-sm) {
                    height: 60px;
                    width: 60px;
                    line-height: 67px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    animation: beat 1.5s linear infinite;
                    height: 100%;
                    width: 100%;
                    border: 2px solid $clrMain;
                    border-radius: 50%;
                    z-index: -1;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    animation: beat 2.2s linear infinite;
                    border: 2px solid $clrMain;
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                }
            }
            span {
                display: none !important;
            }
        }

        @keyframes beat {
            0% {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            100% {
                opacity: 0;
                -webkit-transform: scale(2);
                transform: scale(2);
            }
        }
    }
}