$fontOswald: 'Oswald', sans-serif;
$fontRoboto: 'Roboto Condensed', sans-serif;

$fontLight: 300;
$fontRegular: 400;
$fontMid: 500;
$fontSemi: 600;
$fontBold: 700;
$transition: .3s linear;

$clrMain : #f05b2a;

$clrBody: #000000;
$clrBlack: #000000;
$clrdefault : #fff;

$scheme-default: $clrBody, $clrdefault;

$clrBodySecondary: #fff;
$clrdefaultSecondary: rgb(0, 0, 0);

$scheme-secondary: $clrBodySecondary, $clrdefaultSecondary;

// $clrMain : #e4a101;  
$clrheading : #0e152b; 
$clrPrimary: #adadad;
$clrBg: #191919;
$clrBtn: #2f3541;

@mixin color-scheme($text, $bg) {
	background-color: $bg;
    $color: $text;
}

// @include themify($themes) {
//     propnname: themed('variable');
// }

