$fontOswald: 'Oswald', sans-serif;
$fontRoboto: 'Roboto Condensed', sans-serif;

$fontLight: 300;
$fontRegular: 400;
$fontMid: 500;
$fontSemi: 600;
$fontBold: 700;
$transition: .3s linear;

$clrBody: #080e37;
$clrBlack: #000000;
$clrdefault : #fff;
$clrMain : #f05b2a;

// $clrMain : #e4a101;  
$clrheading : #0e152b; 
$clrPrimary: #adadad;
$clrBg: #191919;
$clrBtn: #2f3541;