// Banner Section Start

.banner-slider {
    overflow: hidden;
    
    .single-slide {
        @include banner-size;
        padding: 130px 0px;
        // height: 100vh;
        // @include flex-box;

        &::after {
            @include banner-bg;
            background: rgba(2, 16, 38, 0.6);
        }

        .slide-caption {
            padding-top: 80px;

            @include respond (phone-sm) {
                padding-top: 0;
            }
            h6 {
                color: $clrMain;
                margin-bottom: 20px;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-size: 16px;
            }
            h1 {
                text-transform: uppercase;
            }
            p {
                color: $clrdefault;
                margin: 30px 0px 50px;
                font-weight: $fontRegular;
                max-width: 530px;
                // text-transform: capitalize;
            }
        }
    }
    .swiper-button-prev, .swiper-button-next {
        background-image: none;
        color: $clrdefault;
        height: 40px;
        width: 40px;
        border: none;
        outline: none;
        @include flex-box;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transform: skewX(-16deg);
            z-index: -1;
            opacity: 1;
            background-image: none;
            bottom: 0;
            border-radius: 3px;
            left: auto;
            background-color: $clrMain;
            transition: $transition;
        }
    }
    .swipe-button {
        position: absolute;
        bottom: 50px;
        right: 100px;

        @include respond (phone-sm) {
            bottom: 40px;
            right: 70px;
        }
    }
    .slick-arrow {
        position: absolute;
        color: #fff;
        font-size: 16px;
        bottom: 50px;
        right: 100px;
        cursor: pointer;
        z-index: 99;
        height: 40px;
        width: 40px;
        @include flex-box;
        transition: $transition;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transform: skewX(-16deg);
            z-index: -1;
            opacity: 1;
            background-image: none;
            bottom: 0;
            border-radius: 0;
            border-radius: 3px;
            left: auto;
            background-color: $clrMain;
            transition: $transition;
        }

        &.fa-arrow-right {
            right: 50px;
            // left: auto;
            
        }
    }
}

// .banner-image {
//     img {
//         position: absolute;
//         bottom: 0;
//         width: auto;
//     }
// }

// Banner Section End