// Contact Form Start

.form {
    label {
        font-family: $fontRoboto;
        font-size: 13px;
        font-weight: $fontMid;
        line-height: 18px;
        color: $clrheading;
        display: block;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .form-control {
        font-family: $fontRoboto;
        font-size: 14px;
        font-weight: $fontRegular;
        line-height: 18px;
        background: $clrBlack;
        // color: rgba(144, 150, 166, 0.51);
        color: $clrdefault;
        display: block;
        padding: 16px 24px;
        margin-bottom: 24px;
        // text-transform: capitalize;
        border-radius: 0px;
        border: none;
        // border: 0.8px solid rgba(144, 150, 166, 0.25)
    }
    .nice-select {
        width: 100%;
        height: auto;

        .list {
            width: 100%;
        }
        &::after {
            height: 8px;
            width: 8px;
        }
    }
    .nice-select .option.selected {
        color: $clrheading;
    }
    .xi-btn {
        font-size: 14px;
    }
}


// Contact Form End



// Search Bar Start

.search-modal {
    background: rgba(0, 0, 0, 0.9);
}

.search-bar {

    @include respond (tabland) {
        margin-top: 30px;
    }
    
    form {
        border: 0.8px solid rgba(144, 150, 166, 0.25);
        border-radius: 8px;
        display: flex;
        outline: none;
        .form-control {
            margin-bottom: 0;
            font-size: 22px;
            border: none;
            background: transparent;

            &:focus {
                box-shadow: none;
            }

        }
        .sub-btn {
            border: none;
            outline: none;
            font-size: 20px;
            background: transparent;
            color: $clrMain;
            position: relative;
            right: 15px;
        }
    }
}

// Search Bar End
