// Cta-Box Start
.cta-wrapper {
    background: url('../images/cta-box/comm.png');
    @include banner-size;
    border-radius: 8px;
    padding: 0 30px;

    @include respond (tabland) {
        padding-top: 50px;
    }
    @include respond (phone) {
        padding: 40px 15px 0px;
    }
}

.cta-item {
    .span {
        color: $clrMain;
        font-size: 14px;
        text-transform: uppercase;
        font-family: $fontOswald;
        letter-spacing: 2px;
        font-weight: $fontRegular;
    }
    h3 {
        color: $clrdefault;
        display: block;
        margin: 20px 0px;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 20px;
        max-width: 480px;
    }
}
// Cta-Box End