// Partner Section Start

.partner-section {
    background: #141217c7;
    // background: rgba(2, 16, 38, 0.6);
}
.partner-wrapper {
    padding: 60px 40px;

    @include respond (phone-sm) {
        padding: 40px 30px;
    }
}

.partner-slider {
    .swiper-slide {
        img {
            width: auto;
            height: auto;
            display: block;
        }
    }
}

// Partner Section End