// Streaming Section Start

.srteming-wrapper {
    background: $clrBg;
    padding: 10px;
    border-radius: 5px;
}



.stream-img {
    @include video-box;
    .round {
        border-radius: 5px 5px 0px 0px;

        &::before {
            background: transparent;
        }
    }
    img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        background: $clrdefault;
        box-shadow: 0px 2px 22px rgba(93, 93, 93, 0.13);

        @include respond (phone) {
            width: 100%;
        }
    }
}



// Streaming Section End